<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todolist</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/3a46370e2f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <h1>My ToDoList</h1>
        <!---- Aggiungo al mio html una finestra di input e un bottone-->
        <!--Utilizzo v-model per assegnare "in diretta" il valore di input alla mia variabile js-->
        <!---- BONUS 1 Aggiungo la key .enter al mio input -->
        <input @keyup.enter="addTask()" v-model="newTodo.text" type="text" placeholder="Write a new task">
        <!--Al @click sul bottone il valore in input viene aggiunto assegnato a una variabile-->
        <!-- Aggiungo la variabile ai miei oggetti in lista-->
        <button @click="addTask">Add Task</button>
        <ul>
            <!---- Stampo nel mio html la mia lista di oggetti con v-for-->
            <li v-for="(todo,index) in todos">
                <!-- -- SE oggetto.done==true faccio sì che sia sbarratta
                aggiungendo la classe completed-->
                <!--BONUS 2 -- Modifico il valore booleano del mio oggetto al click sul testo-->
                <span @click="doneUndone(index)" :class="{ 'completed': todo.done }"> {{todo.text}} </span>
                <!---- Inserisco accanto a ogni testo un'icona-->
                <!---- Faccio si che @onclick la task si cancelli con la funzione removeTask-->
                <i class="fa-solid fa-toilet" @click="removeTask(index)"> </i>
            </li>
        </ul>
    </div>


    <script src="./assets/js/app.js"></script>
</body>

</html>